*{
    box-sizing: border-box;
}
body{
    background-color: #f4f4f2;
    border:0;
    margin:0;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
header{
    flex-basis: 100%;
    background-color: #fdfcfe;
    /* border-bottom: 1px solid black; */
    height:680px;
    display: flex;
    flex-wrap: wrap;
}
#articles{
    flex-basis: 100%;
    /* border-bottom: 1px solid black; */
    height: 880px;
}
#about{
    flex-basis: 100%;
    /* border-bottom: 1px solid black; */
    height:600px;
    display: flex;
    flex-wrap: wrap;
}
#subscribe{
    flex-basis: 100%;
    /* border-bottom: 1px solid black; */
    height:450px;
    background-color: #e1e6e0;
}
#footer{
    flex-basis: 100%;
    /* border-bottom: 1px solid black; */
    height:120px;
    display: flex;
    flex-wrap: wrap;
}
nav{
    flex-basis:97%;
    /* border: 1px solid black; */
    left:21px;
    top:21px;
    position:relative;
    height:100px;
    background-color: #dbe0da;
    display: flex;
    flex-wrap: wrap;
}
#logo{
    flex-basis:60%;
    font-family: 'Cinzel Decorative', cursive;
}
.head-2{
    flex-basis:14%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
}
.head-3{
    flex-basis:14%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
}
.head-4{
    flex-basis:12%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
}
#logo a,.head-2 a,.head-3 a,.head-4 a{
    text-decoration: none;
    color: #3a3f39;
    position: relative;
    top:37px;
    left:40px;
    font-size: 20px;
}
#logo a{
    font-size: 30px;
    top:28px;
}
.head-2 a{
    left:110px;
}
.head-3 a{
    left:60px;
}
.head-4 a{
    border:2px #3a3f39 solid;
    padding:10px 15px;
    left:10px;
}
#logo a:hover,.head-2 a:hover,.head-3 a:hover{
    color: #385f2b;
}
.head-4 a:hover{
    border:2px #385f2b solid;
    padding:10px 15px;
    left:10px;
    color: #385f2b;
}
.main_pic{
    flex-basis:97%;
    /* border: 1px solid black; */
    left:21px;
    top:0px;
    bottom:21px;
    position:relative;
    height:540px;
    background-color: #dbe0da;
    background-image: url("images/5.png");
    background-size: cover ;
}
.main_pic h1{
    position: relative;
    margin-left: 1000px;
    color:#3a3f39;
    font-size: 130px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    right:100px;
    margin-bottom: 0px;
}
.main_pic h2{
    position: relative;
    margin-left: 995px;
    color:#3a3f39;
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 0px;
    margin-bottom: 25px;
}
.main_pic hr{
    background-color: #758b7f;
    width: 5%;
    height: 6px;
    position: relative;
    left:1080px;
    margin:0px;
}
#articles h1{
    color:#3a3f39;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 100px;
    margin-bottom:0;
}
.articles_hr{
    background-color:#3a3f39;
    width: 5%;
    height: 4px;
    margin-top:13px;
    margin-bottom:70px;
}
.article{
    display: flex;
    flex-wrap: wrap;
}
.article-1{
    flex-basis: 25%;
    /* border: 1px black solid; */
    height:480px;
    margin-left: 110px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}
.article-2{
    flex-basis: 25%;
    /* border: 1px black solid; */
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}
.article-3{
    flex-basis: 25%;
    /* border: 1px black solid; */
    margin-left: 40px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}
.upper,.lower{
    flex-basis: 100%;
    height:240px;
    /* border: 1px black solid;  */
}
.lower{
  box-shadow:  0px 0px 17px 5px  #b8b8b8;
  box-shadow: 0px 5px 17px #b8b8b8;
}
.upper{
  box-shadow:  0px -5px 17px #b8b8b8;
}
.article-1 .upper{
    background-image: url("images/6.jpg");
    background-size: cover;
}
.article-2 .upper{
    background-image: url("images/7.jpg");
    background-size: cover;
}
.article-3 .upper{
    background-image: url("images/8.jpg");
    background-size: cover;
}
.lower hr{
    background-color:#3a3f39;
    width: 12%;
    height: 4px;
    position: relative;
    top:70px;
}
.lower_content{
    color:#3a3f39;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    position: relative;
    top:90px;
    padding: 0 20px;
    line-height: 40px;
}
.left_part{
    flex-basis: 50%;
    /* border: 1px black solid; */
    height:600px;
    background-image: url("images/9.jpg");
    background-size: cover;
}
.right_part{
    flex-basis: 50%;
    /* border: 1px black solid; */
    height:600px;
    background-color: #fdfdfd;
}
.right_part h1{
    color:#3a3f39;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    margin-top: 130px;
    margin-bottom: 0;
}
.right_part hr{
    background-color:#3a3f39;
    width: 5%;
    height: 4px;
}
.right_content{
    padding:50px 90px;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align:justify;
    font-weight: 900;
    color:#3a3f39;
    line-height: 40px;
}
#subscribe h1,#subscribe h2{
    color:#3a3f39;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
#subscribe h1{
    padding-top:50px;
    margin-bottom: 0;
}
#subscribe h2{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}
#email{
    padding:22px 190px 22px 20px;
    border: 0;
    position: relative;
    left:560px;
    top:22px;
    font-size: 16px;
}
#submit{
    padding: 8px 35px;
    background-color: #e1e6e0;
    position: relative;
    left:695px;
    top:60px;
    font-size: 20px;
    color:#3a3f39;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    border: 2px #3a3f39 solid;
}
#submit:hover{
    color:#e1e6e0;
    background-color: #3a3f39;
    border: 2px #e1e6e0 solid;
}
.ig,.tw,.fb,.pt{
    flex-basis: 3%;
    border:1px #3a3f39 solid;
    background-color: #3a3f39;
    border-radius: 50%;
    width:5%;
    height:36%;
    position:relative;
    left:90px;
    top:90px;
}
.tw{
    position: relative;
    left:105px;
}
.fb{
    position: relative;
    left:120px;
}
.pt{
    position: relative;
    left:135px;
}
#img1,#img2,#img3,#img4{
    position: relative;
    left:12px;
    top:12px;
    width:20px;
}
.footer_about,.footer_articles,.footer_subscribe{
    flex-basis: 9%;
    position: relative;
    left:900px;
    top:100px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    font-size: 22px;
}
.footer_about a,.footer_articles a,.footer_subscribe a{
    text-decoration: none;
    color:#3a3f39;
}
.footer_about a:hover,.footer_articles a:hover,.footer_subscribe a:hover{
    text-decoration: none;
    color: #385f2b;
}

